@model IEnumerable<RestaurantMenuDomain.Model.Product>

@{
    ViewData["Title"] = "Продукти за категорією";
}

<h1>Продукти за категорією @ViewBag.CategoryName</h1>

<p>
    <a asp-action="Create" asp-route-id="@ViewBag.CategoryId">Додати новий продукт</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Name)</th>
            <th>@Html.DisplayNameFor(model => model.Description)</th>
            <th>@Html.DisplayNameFor(model => model.Categories)</th>
            <th>Дії</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                <td>@Html.DisplayFor(modelItem => item.Description)</td>
                <td>@Html.DisplayFor(modelItem => item.Categories!.Name)</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> |
                
                 
                    <a asp-controller="Reviews"
                       asp-action="Index"
                       asp-route-id="@item.Id"
                       asp-route-catId="@ViewBag.CategoryId"
                       style="font-weight:bold; color:#ffc107;">Відгуки</a>
                </td>
            </tr>
        }
    </tbody>
</table>


<p>
    <a asp-controller="Categories" asp-action="Index" class="btn btn-link">До списку категорій</a>
</p>